[core]
	editor = vim
	pager = less -r
	excludesfile = ~/.gitignore
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	b = branch -v
	ll = log --oneline
[include]
	path = ~/.gitconfig.local
