[core]
	editor = vim
	# editor = nvim
	pager = less -r
	excludesfile = ~/.gitignore
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	b = branch -vv
	ll = log --oneline
[credential]
	helper = store --file ~/.git-credentials
